.pagination {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

ul.pagination li {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}
ul.pagination li a{
  display: block;
  padding: 0.3rem 0.7rem;
}
ul.pagination li a:hover {
  background-color: rgba(229, 231, 235);
}
ul.pagination .active {
  background-color: rgba(209, 213, 219);
  color: black;
}
ul.pagination .disabled{
  pointer-events: none;
  color: lightgray;
}